
.intro{
	max-width: 500px;
}

.searchbutton{
	margin-right: 5px;
	margin-left: 5px;
}
.hero-unit{
	margin-top: 15px;
	max-width: 600px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 20px 30px 20px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	background-color: #eeeeee;
	border: 1px solid lightgrey;
}

#nav_wrapper{
	width: 100%;
	background-color: white;
	position: fixed;
	border-bottom: 1px solid lightgrey;
	height: 60px;
}
#nav{
	max-width: 640px;
	margin-top: 0;
	margin: 0px auto;
	font-weight: lighter;

}
#nav ul{
	list-style: none;
	margin: 0;
	padding-left: 0px;

}
#nav li {
	margin: 10px 0px;
}

#nav #left_nav{
	float: left;
}
#nav #right_nav{
	float: right;
}

#nav #left_nav li{
	float: left;
	padding: 10px 5px 10px 0px;
}
#nav #right_nav li{
	float: right;
	padding: 10px 0px 10px 5px;
}
#nav #left_nav ul{
	float: left;
}
#content_wrapper{
	margin: 50px 20px 0px 20px;
}
#content{
	padding: 20px;
	max-width: 600px;
	margin: 0px auto;
	background-color: lightgrey;
		border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}
#content a { 
	text-decoration: none;
	color: black;
}
#content #name, #content a #name {
	color: darkgrey;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-family: Arial;
	font-weight: thinner;
	margin: 0;
}
#nav a{
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	color: grey;
}
.selected, #nav a:hover{
	text-decoration: none;
	background-color: #08c;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	color: white;
	border: 0;
}
.other-buttons{
	font-size: 20px;
	margin: 5px;
}

#nav ul li #sign-up-button{
	background-color: #08c;
	color: white;
}
form{
	margin: 0px auto;
	width: 80%;
}
.hero-unit input{
	margin-bottom: 0;
}

h2{
	margin-top: 0; 
}
input[type="text"], input[type="password"] {
	height:30px;
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid white;
	padding: 10px 10px;
	margin: 5px;
	font-size: 20px;
}
.sign-in-form{
	display: none;
}
.sign-up-form{
	display: none;
}
footer{
	color: grey;
	padding-top:20px;
	padding-bottom: 20px;
	max-width: 640px;
	margin: 0px auto;
	text-align: center;
	border-top: 1px solid lightgrey;
}
.footer-wrapper{
	bottom: 0;
	width: 100%;
}